{% extends 'base.html' %}
{% block content %}
<section class='w-full flex flex-row justify-between gap-16 text-white'>
      <div class='relative flex flex-col justify-center items-start'>
        <h1 class='mt-10 text-[50px] font-bold'>
          <span class='whitespace-nowrap relative z-10 pr-10'>
            {{user_info.get_full_name}}
          </span>
          <br />
          <span class='whitespace-nowrap relative z-10 pr-10'>{{user_info.position}}</span>
        </h1>
        <p class='text-lg leading-8 mt-6 mb-14'>{{user_info.introduction}}</p>
      </div>
      <div class='hidden relative md:flex justify-center items-center'>
        <img
          src="https://s3-alpha-sig.figma.com/img/2794/8f91/10116e18f4a83183a0ad0b35bd366ca7?Expires=1704067200&Signature=GXdPOzTZrTlVCCxY3jZOWe9nFzqX-5zdjbfPpQJFsiXASz0sLrmMtzzLpRa2g~vduv~R6edpPgtpYVqXB2RUuVaTnrbcocX0nv~9L0D3saCKQJ7S1i4jWurvA7PySkR4Wlf~1YGHPlyz-3wuZTArCCp~OcsXQNWeGrFZErU~DgS2Zq1b5IuV2xRFF7nUH0M9xbqu7ZSKMUxAHMRXNp4TqXDx5zG5LOEwx-3CQL0F6K6yziVFIPuNfHbZ3WpG1LPOS7UTepW1nI9vKOGjSTW-ZqhNtSU3eENxwPVDUXur8PFhsVpq61aHjSZHyH2h57u-Nf5Z~XUIuU3fwYpN6cgB8g__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"
          alt='shoe colletion'
          width={513}
          height={719}
          class='rounded-full'
        />
          <div class="text-wrap" style="writing-mode: vertical-lr;">Ha Ngoc Hieu</div>
      </div>
</section>
<!--Links-->
<div class="flex justify-between items-center my-10">
    <div>
        <a href="https://www.dribbble">
            <img alt="linkedin logo" src="../static/images/facebook.png" width="100">
        </a>
    </div>
        <div>
        <a href="https://www.dribbble">
            <img alt="linkedin logo" src="../static/images/github.png" width="100">
        </a>
    </div>
    <div>
        <a href="https://www.dribbble">
            <img alt="linkedin logo" src="../static/images/linkedin.png" width="100">
        </a>
    </div>

</div>
<!--Skills-->
<section class='w-full text-white text-center'>
    <h1 class="text-3xl font-bold">My Skills</h1>
    <div class="grid grid-cols-2 sm:grid-cols-3 gap-8 mt-10">
        {% for skill in skills %}
            <div class="min-h-[200px] max-w-[350px] rounded-3xl" style="background: linear-gradient(214deg, #EA5F5F 6.04%, #EA5 92.95%);">
                <div class="w-full flex flex-col justify-center items-center gap-2 p-5">
                    <img alt="{{skill.title}}" src="../static/images/linkedin.png" width="50" height="50">
                    <h2 class="w-full text-xs sm:text-xl font-bold ">{{skill.title}}</h2>
                    <p class="w-full break-words">{{skill.description}}</p>
                </div>
            </div>
        {% endfor %}
    </div>
</section>
{% endblock %}
