.main-background{
    width: 100%;
    height: 100%;
    background: linear-gradient(123deg, #984D38 0%, #181E41 63%)
}

.btn-contact{
    color: white;
    font-size: 20px;
    font-family: Poppins;
    font-weight: 500;
    word-wrap: break-word
}
.test-h1{
    color:red;
}